.place__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 76px;
}

@media (min-width:320px) and (max-width:767px) {
  .place__title {
    font-size: 32px;
    align-self: flex-start;
    padding-bottom: 0;
    padding-left: 16px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) and (max-width:1279px) {
  .place__title {
    font-size: 72px;
    text-align: left;
    max-width: 440px;
    line-height: 76px;
  }
}
