.place {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 460px auto;
  gap: 40px;
  margin-top: 80px;
}

@media (min-width:320px) and (max-width:767px){
  .place {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
}
@media (min-width: 768px) and (max-width:1023px){
.place {
  display: grid;
  grid-template-columns: 340px auto;
  gap: 28px;
  padding-left: 24px;
  padding-right: 24px;
}
}

@media (min-width: 1024px) and (max-width:1279px){
.place{
  display: grid;
  grid-template-columns: min-content auto;
  gap: 32px;
}
}