.place__paragraphs {
  display: grid;
  gap: 26px;
  font-size: 18px;
  font-weight: 400;
  grid-template-rows: min-content;
  line-height: 29px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraphs {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs {
    font-size: 16px;
    gap: 25px;
    line-height: 26px;
  }

}
