.lead__image {
  max-width: 984px;
  margin-top: 56px;
  object-fit: cover;
}

@media (min-width:320px) and (max-width:767px) {
  .lead__image {
    margin-top: 40px;
    max-width: 320px;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .lead__image {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 768px;
  }
}

@media (min-width:1024px) and (max-width:1279px) {
  .lead__image {
    padding-left: 48px;
    padding-right: 48px;
    max-width: 928px;
  }
}

@media (min-width:1280px) {
  .lead__image {
    margin-top: 64px;
  }
}
