.cover {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 92px;
  min-height: 740px;
  background:url(../../images/__background.png);
  background-size: cover;
}

.cover::before{
  background-color: rgba(42, 44, 47, 0.3);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cover::before:hover{
  background-color: rgba(42, 44, 47, 0.8);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (min-width:320px) and (max-width:767px){
  .cover{
    min-height: 200px;
    width: 100%;
    margin: 66px 0 0;
}  
}
@media (min-width: 768px) and (max-width:1023px){
  .cover{
    min-height: 480px;
    width: 100%;
    margin: 90px 0 0;
}
}
@media (min-width:1024px) and (max-width:1279px){
  .cover{
    min-height: 640px;
    width: 100%;
    margin: 92px 0 0;
}
}